$main: #f73e3e;

@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

html,
body,
div {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Playfair Display", serif;
  color: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button {
  color: #fff;
  background-color: #2b2b2b;
  border: none;
  padding: 10px;
}

.page-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  @extend .page-center;
  text-align: center;
  background-color: $main;
  padding: 1rem;
  box-shadow: 0px 0px 20px 5px #474747;
  // Change input to line that highlights on focus

  // Add stuff on hover that does that cool underline transitiont thing - yes
  // h1 {
  // }

  input {
    padding: 10px;
    margin-right: 5px;
    border: none;
  }

  #input-btn {
    margin: 10px auto;
  }

  #random-btn {
    display: flex;
    margin: 0px auto;
  }
}

#dot {
  @extend .page-center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: inline-block;
  z-index: -1;
  transition: height 2s, width 2s;
}

@media (max-width: 500px) {
  #container {
    h1 {
      font-size: 15px;
    }

    input {
      padding: 10px;
      font-size: 10px;
    }

    #input-btn,
    #random-btn {
      font-size: 10px;
      padding: 10px;
      margin-top: 5px auto;
    }
  }
}
